*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #5d5d5d;
}

.boardgame {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.card-bingo {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  height: 290px;
}

.numbers-bingo {
  display: grid;
  grid-template-columns: repeat(11, 60px);
}

.row {
  display: flex;
}

.cell {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  color: #000;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.button {
  background-color: #000000;
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  transition: .2s;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  color: #000;
}

.green {
  background-color: #85bf85;
}

.red {
  background-color: #c27272;
}

.orange {
  background-color: #fbb431;
}

.cards-bingo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winner {
  font-size: 2.3em;
  margin-top: 40px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}

.current-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

.button-restart {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}